$couleurColonneGauche: rgba(128, 128, 128, .2);
$couleurColonneDroite: rgba(128, 128, 128, .2);
$couleurTexte: #fcfcfc;
$couleurLien: #fcfcfc;
$couleurThead: #000;
$couleurFond: #000;
$couleurHover: rgba(128, 128, 128, 0.5);
body {
    color: $couleurTexte;
    background-color: $couleurFond !important;
    //  background-image: url("../assets/img/bg/bg3.jpg") ;
    //  background: url("../images/800px-Toulouse_garonne_nuit.jpg") no-repeat;
    background: url("../images/thumb-1920-523983.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100%;

.glyphicon {
    color:$couleurTexte;
}

    @media (max-width: 768px) {
        .navbar-default .nav li a {
            font-size: 13px;
            padding: 10px 15px;
            color: $couleurTexte !important;
          }
          button.navbar-toggle .collapsed {
            background-color:$couleurTexte !important;
        }

    }


    nav.navbar.navbar-default {
        
        background-color: transparent;
        color: $couleurTexte;
    }
    button.btn-default {
        height: 50px !important;
    }
    .form-control {
        background-color: $couleurTexte;
        opacity: 0.8;
        border-radius: 6px;
    }
    button.navbar-toggle {
        background-color: rgba(255, 255, 255, .5) !important;
    }
    a {

        color: $couleurLien;
    }
    table thead tr {
        color: $couleurTexte;
    }
    table tbody tr:hover {
        background-color: $couleurHover;
    }
    h1 {
        color: $couleurTexte;
    }
    div.container {
        width: 100%;
        div.row {
            @media screen {
                display: flex;
                @media (max-width: 768px) {
                    display: block !important;

                }

            }
            >div:first-of-type {
                background-color: $couleurColonneGauche;
                min-height: 200px;
            }
            >div:last-of-type {
                background-color: $couleurColonneDroite;
                min-height: 200px;
            }
        }
    }

  /*   footer{
        height: 50px;
        padding-top: 20px;
        img{
            height: 50px;
        }
    } */
}