<link rel="stylesheet" href="Balade/css/balade.css" >

<h1 class="h1">BALADES SUR PARIS</h1>
<hr class="hr">
<iframe src="https://opendata.paris.fr/explore/embed/dataset/que-faire-a-paris-/map/?disjunctive.category&disjunctive.tags&disjunctive.address_name&disjunctive.address_zipcode&disjunctive.address_city&disjunctive.access_type&disjunctive.price_type&q=balade&rows=18&basemap=jawg.dark&location=11,48.88052,2.38918&static=false&datasetcard=false&scrollWheelZoom=true" width="100%" height="400" frameborder="0"></iframe>