<form style="padding: 10px;">
<label for="departement">Choisissez votre département : </label>
<select class="form-select" style="margin-left: 10px; color:black" size="3" name="departement">
    <?php for($i=1; $i <96; $i++) : ?>
    <option value="<?= ($i < 10) ? "0{$i}" : $i ?>"><?= ($i < 10) ? "0{$i}" : $i ?></option>
    <?php endfor ?>
    <option value="971">971</option>
    <option value="972">972</option>
    <option value="973">973</option>
    <option value="974">974</option>
    <option value="976">976</option>
</select>

<button style="margin-left: 10px;" type="submit" class="btn1 btn-warning">Rechercher</button>
</form>

