div#widget {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;

    h3 {
        margin: 5px;
    }

    h4 {
        margin: 5px;
    }

    &>h2 {
        margin: 5px;
    }

    div {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;

        div {
            img {
                width: 80px;
            }

            >h1 {
                background-color: initial;
                color: white !important;
            }
        }
    }
}