<nav class="navbar navbar-default navbar-fixed-top fadeInDown wow" data-wow-delay="0.2s" style="/* visibility: visible; */animation-delay: 0.2s;animation-name: fadeInDown;">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand smoothie" href="index.html">P<span class="theme-accent-color">I</span>PER</a>
      </div>
      <div id="navbar-social">
          <ul class="smoothie list-inline social-links">
              <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-behance"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
          </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse menu-active" id="main-navigation">
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Home <span class="pe-7s-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="index.html">Fullscreen Slider</a></li>
                      <li><a href="index-video.html">Fullscreen Video</a></li>                                
                      <li><a href="index-single-page.html">Single Page</a></li>                            
                      <li><a href="index-landing-page.html">Landing Page</a></li>
                      <li><a href="index-minimal.html">Minimal</a></li>
                      <li><a href="index-countdown.html">Coming Soon</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Portfolio <span class="pe-7s-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="portfolio-grid.html">Portfolio Grid</a></li>
                      <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                      <li><a href="single-portfolio.html">Project Slider</a></li>
                      <li><a href="single-portfolio-carousel.html">Project Carousel</a></li>
                      <li><a href="single-portfolio-video.html">Project Video</a></li>
                      <li><a href="single-portfolio-fullscreen.html">Project Fullscreen</a></li>
                      <li><a href="single-portfolio-fullscreen-video.html">Project Fullscreen Video</a></li>
                      <li><a href="single-portfolio-image-list.html">Project Image List</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Blog <span class="pe-7s-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="blog.html">Blog Archive</a></li>
                      <li><a href="single-post.html">Single Post</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Extras <span class="pe-7s-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="404.html">404</a></li>
                  </ul>
              </li>
              <li><a href="#search"><i class="pe-7s-search"></i></a></li>
              <li id="menu-trigger-wrapper">
                  <div class="pull-right">
                      <button type="button" id="menu-toggle" class="tcon tcon-menu--xcross tcon-transform" aria-label="toggle menu">
                        <span class="tcon-menu__lines" aria-hidden="true"></span>
                        <span class="tcon-visuallyhidden">toggle menu</span>
                      </button>
                  </div>  
              </li>
          </ul>

      </div>
      <!-- /.navbar-collapse -->         

  </div>
  <!-- /.container-fluid -->
</nav>