<link rel="stylesheet" href="template/cssfooter/footer.css">
<footer style="min-height:20px;">
    <img src="/images/logo.jpg" alt="">
    <h4>Plan du site</h4>
    <div>
    <ul>
        
        <li><a href="?accueil">Accueil.</a></li>
        <li><a href="?cinema-carte">Carte des cinémas.</a></li>
        <li><a href="?cinema-liste">Liste des cinémas.</a></li>
        <li><a href="?balade-carte">Carte des balades.</a></li>
        <li><a href="?balade">Liste des balades.</a></li>
        <li><a href="?cafeconcert-carte">Carte des cafés concerts.</a></li>
        
    </ul>  
    <ul>
        <li><a href="?cafeconcert-liste">Liste des cafés concerts.</a></li>
        <li><a href="?cyclo-carte">Carte des Vélibs.</a></li>
        <li><a href="?cyclo-liste">Liste des Vélibs.</a></li>
        <li><a href="?selectdepartement">Liste des festivals.</a></li>
        <li><a href="?trombi">Trombinoscope</a></li>
        
        <li><a href="?mentions">Mentions légales</a></li></ul>
    </div>
    <p><a id="site" href="https://templatemag.com/piper">templatemag.com/piper</a></p>
    <p><i class="glyphicon glyphicon-copyright-mark"></i> 2021 DWWM78</p>
</footer>