body {
    div.container {
        width:100%;
        div.row {
            div {

                h2 {
                    text-align: center;
                }
                div{
                   width: 100%;
                }
            }
        }
    }
}
