
<link rel="stylesheet" href="CafeConcert/cssCafeConcert/styleCafe.css"> 

<table class="table table-responsive">
    <img class="header-photo" src="/CafeConcert/img/concert1.png" style="height: auto;" width="100%" />
    <h1><span class="glyphicon glyphicon-glass " aria-hidden="true"></span> CAFE CONCERT <span
            class="glyphicon glyphicon-music" aria-hidden="true"></span></h1>
    <thead style="background-color: white;">
        <tr>
            <th>Nom</th>
            <th>Geoloc.</th>
            <th>Tél.</th>
        </tr>
    </thead>

    <tbody>
        <?php foreach ($data['records'] as $cafeConcert) : ?>
        <?php
                /* $url = "";
                if (isset($cafeConcert["fields"]["eq_site_web"])) {
                    $url = $cafeConcert["fields"]["eq_site_web"];
                    if (!preg_match("/^http/", $url)) {
                        $url = "http://" . $url;
                    }
                } else {
                } */
                ?>
        <tr>
            <td>
                <?= $cafeConcert["fields"]["eq_nom_equipement"] ?>
            </td>
            <td>
                <?= (isset($cafeConcert["fields"]["numero"]) ? $cafeConcert["fields"]["numero"] :"")." ".$cafeConcert["fields"]["lib_off"]."</br>".$cafeConcert["fields"]["id_secteur_postal"]." ".$cafeConcert["fields"]["eq_ville"]   ?>
            </td>
            <td style="width:150px">
                <?= isset($cafeConcert["fields"]["eq_telephone"]) ? $cafeConcert["fields"]["eq_telephone"] :"Non renseigné"; ?>
            </td>
        </tr>
        <?php endforeach ?>
    </tbody>
</table>