
<link rel="stylesheet" href="CafeConcert/cssCafeConcert/styleCarte.css">
<img class="header-photo" src="/CafeConcert/img/concert1.png" style="height: auto;" width="100%" />
<div>

    <h1><span class="glyphicon glyphicon-glass " aria-hidden="true"></span> CAFE CONCERT <span
            class="glyphicon glyphicon-music" aria-hidden="true"></span></h1>
        <iframe
            src="https://data.toulouse-metropole.fr/explore/embed/dataset/cafes-concerts/map/?location=12,43.59856, 1.45412&basemap=jawg.streets&static=false&datasetcard=false&scrollWheelZoom=false"
            width="100%" height="600" frameborder="0"></iframe>
    </div>