<head>
 
</head>

<style>
  div.container {
    width: 100%;
  }
  table {
    width: 100%;
  }
  img.header-photo {
    padding-top: 20px;
    height: auto;
    width: 100%;
  }
  h1 {
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    margin: 0;
    height: 50px;
  }
</style>


<img
  class="header-photo"
  src="Cyclo/images/Cyclo.png"
  style="height: auto"
  width="100%"
/>

<div class="pre-scrollable" style="overflow-y: scroll" ;>
  <table class="table table-bordered">
    <h1>STATIONNEMENT VÉLIB</h1>
    <thead style="background-color: white">
      <tr>
        <th>Nom</th>
        <th>Rue</th>
        <th>Nbres Bornes</th>
        <th>Géo</th>
      </tr>
    </thead>

    <tbody>
      <?php foreach ($data['records'] as $cyclo) : ?>

      <?php $a=$cyclo["fields"]["geo_point_2d"][0]?>
      <?php $b=$cyclo["fields"]["geo_point_2d"][1]?>
      
      <tr>
        <td><?= $cyclo["fields"]["nom"] ?></td>
        <td><?= $cyclo["fields"]["street"] ?></td>
        <td><?= $cyclo["fields"]["nb_bornettes"] ?></td>
        <td >
          <a href="?cyclo=&CoorX=<?= $a?>&CoorY=<?=$b?>">
            <span class="glyphicon glyphicon-map-marker"></span>
          </a>
        </td>
      </tr>

      <?php endforeach ?>
    </tbody>
  </table>
</div>
