body {
    div.container {
        div.row {
            div:first-of-type {
                background-color: rgba(196, 196, 196, 0.8);
                opacity: 1;
                h2 {
                    text-align: center;
                }
                div {
                    &:first-of-type {
                        background-color: rgba(196, 196, 196, 0);
                        iframe {
                            opacity: 1 !important;
                        }
                    }
                    &:last-of-type {
                        background-color: rgba(196, 196, 196, 0);
                        li {
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                }
            }
        }
    }
}
